{% extends 'base.html' %}
 
{% block title %}Barko | Todo{% endblock %}
 
{% block content %}
<button class="btn btn-primary" id="hide-completed">Hide Completed</button>

<!-- Lists of tasks -->
<div class="row">
{% for user, tasks in task_map.items %}
<div class="col-md-3">
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong class="text-capitalize">{{ user.username }}'s Tasks:</strong>
      <button type="button" class="btn btn-default">
        <span class="glyphicon glyphicon-plus"></span> Add Task
      </button>
    </div>
    <div class="panel-body">
      <ul class="list-group">
      {% for task in tasks %}
        <li class="list-group-item">
        {{ task.title }}
        <button type="button" class="btn btn-xs btn-default">
          <span class="glyphicon glyphicon-ok"></span>
        </button>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endfor %}
</div>


<!-- This is prolly moving -->
<!-- Fix the model first! -->
<form method="post" action="/todo/task/">
{% csrf_token %}
<table>
<tr>
  <td><label for="title">Task title:</label></td>
  <td><input type="text" name="title" value="" id="title"></td>
</tr>
<tr>
  <td><label for="description">Description:</label></td>
  <td><input type="text" name="description" value="" id="description"></td>
</tr>
</table>

<input type="submit" value="Create" />
</form>

{% endblock %}
